/*font-family: 'Asap', sans-serif;*/
/*font-family: 'Lobster', cursive;*/

.cont_general
{
	/*background-color: #06AED2;*/
	width: 960px;
	margin: auto;
	/*margin-left: 8em*/ 

}
#cont_header
{
	
	width: 100%;
	margin-bottom: -1em;
	background-color: #06AED2;
}
#cont_section1
{
	width: 100%;
	background-color: #06AED2;
	padding-bottom: 3em;
}
header
{
	background-color: #06AED2;
	width: 100%;
	display: inline-block;
	top: 0;
	left: 0;
	margin: auto;
	margin-bottom: 10em; /*estilo para HD*/
	margin-top: 10em; /*estilo para HD*/
}
#logo
{	
	margin-left: 24em;
	margin-top: 4em;
}
h1
{
	font-family: Lobster;
	color:#ffffff;
	font-size: 114px; 
	letter-spacing: 3px;
	font-weight: 100;
	margin-bottom: -47px;
	margin-left: 2.5em;
	margin-top: -9px;
}
#tit_grafico
{
	font-family: Lobster;
	color:#ffffff;
	font-size: 158px;
	font-weight: 100;
	margin-left: 2.1em;

}
span
{
	font-family: Asap;
	color: #ffffff;
	display: block;
	margin-top: -30px;
	margin-left: 30.5em;
	font-size: 20px;
}
#nav_perfil
{
	padding-top: 20em;
}

/*estilos nav y avatar*/
li
{
	margin-right: 4px;
}

ul
{
	list-style: none;
}

#avatar
{
	margin-left: 22em;
}
#link_acerca, #link_trabajo, #link_contacto
{
	text-decoration: none;
	color: white;
	font-family: asap;
	padding-top: 5.5em;
	/* margin-top: -5em; */
	display: inline-block;
	font-size: 1.4em;
	width: 6em;
}
#link_acerca
{
	margin-left: -10px;
}
#link_trabajo
{
	margin-left: -5px;
}

#link_contacto
{
	margin-left: 7px;
}
#icon_acerca
{
	float: right;
	margin-top: -21em;
	margin-right: 23em;

	width: 105px;
	height: 105px;
	
	background-image: url(imagenes/icon_acerca.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
#icon_acerca:hover
{
	width: 105px;
	height: 105px;
	background-image: url(imagenes/icon_acerca-hover.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
}


#dos_icon
{
	
	/*border: solid;*/
	margin-top: -15em;
}
#icon_trab
{
	width: 105px;
	height: 105px;
	float: left;
	margin-right: 34em;
	margin-left: 7em;
	background-image: url(imagenes/icon_trabajo.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
#icon_trab:hover
{
	width: 105px;
	height: 105px;
	background-image: url(imagenes/icon_trabajo-hover.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
#icon_contact
{
	width: 105px;
	height: 105px;
	background-image: url(imagenes/icon_contacto.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
	margin-left: 48em;
}
#icon_contact:hover
{
	width: 105px;
	height: 105px;
	background-image: url(imagenes/icon_contacto-hover.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
#perfil
{
	margin-top: 10em;
	background-color: white;
	width: 900px;
	height: 280;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	margin-left: 6em;


}
h2
{
	color: #06AED2;
	text-align: center;
	font-family: asap;
	font-size: 45px;
	font-weight: 100;
	margin: 9px;
}
#descrip_perfil
{
	text-align: justify;
	color: #06AED2;
	font-size: 1em;
	font-weight: 100;
	font-family: asap;
	padding: 1px 30px 12px 30px;
}
#idea
{
	width: 42px;
	height: 47px;
	background-image: url(imagenes/idea.png);
	position: absolute;
	margin-left: 52em;
	margin-top: -4em;
}
#contgen_section2
{
	background-image: url(imagenes/fondo_section2-01.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 951px;
	/* background-position: center; */
	margin-top: -1.2em;
}
#mitrabajo
{
	margin-left: 25em;
	margin-top: -25em;
}
h3
{
	font-family: asaps;
	font-weight: 100;
	color: white;
	font-size: 40px;
	display: inline-block;
	margin-left: 8em;
	margin-top: 11em;
}
